@use "../abstracts/functions";
@use "../abstracts/mixins";

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  flex: 0 0 auto;
  min-height: functions.rem(345px);
  background-color: var(--font-special-color);
  padding: functions.rem(80px) 0;
  color: #ffffff;

  @include mixins.media('max', 'md') {
    margin-top: 40px;
  }
}
