@use "../abstracts/functions";
@use "../abstracts/mixins";

.main {
  flex: 1 0 auto;
  position: relative;
  &.main--site-pages {
    overflow: hidden;
    min-height: 100vh;
    background-image: url('/assets/img/good2_0.webp');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    animation: changeBG 8s infinite linear;
    color: #ffffff;
    & * {
      color: #ffffff;
    }
    & canvas {
      display: block;
      position: fixed;
      z-index: -1;
      top: 0;
    }
  }
  @include mixins.media('max', 'md') {
    padding-top: 110px;
  }
  & h1.title {
    font-size: functions.rem(56px);
    margin-bottom: functions.rem(70px);
    line-height: 1;
    margin-left: functions.rem(-4px);

    @include mixins.media('max', 'md') {
      font-size: 20px;
      margin-bottom: 15px;
      margin-left: 0;
      letter-spacing: -1px;
    }
  }

  & h2.title:not(.title--bg) {
    font-size: functions.rem(30px);
    line-height: functions.rem(60px);

    @include mixins.media('max', 'md') {
      font-size: 16px;
      margin-left: 0;
      line-height: 1;
    }
  }
}
