// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
// Переменные для кнопки

// … включите сюда любые правила для кнопки:
// - миксины
// - плейсхолдеры
// - функции

/**
 * Кнопки
 */
.btn {
  display: inline-flex;
  align-items: center;
  transition: all 0.2s ease-out;
  border: none;
  padding: 0 rem(16px);
  border-radius: 5px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--font-main-color);
  color: #ffffff;
  text-transform: none;
  font-size: rem(18px);
  height: auto;
  line-height: 1;

  @include media('max', 'md') {
    //box-shadow: none;
  }

  &--brand {
    background-color: var(--brand-color);
    &:hover {
      color: #fff;
    }
  }
  &--brand-dark {
    background-color: var(--brand-dark-color);
    &:hover {
      color: #fff;
    }
  }

  &--inline {
    display: inline-block;
  }
  &--text-center {
    justify-content: center;
  }
  &:active {
    opacity: 0.8;
  }
}
