@use '../../scss/base';
@use '../../scss/functions';
@use '../../scss/mixins';

.button {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s ease-out;
  border: none;
  padding: functions.rem(8px) functions.rem(16px);
  border-radius: 5px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--font-main-color);
  color: #ffffff;
  text-transform: none;
  font-size: functions.rem(18px);
  height: auto;
  &--small {
    font-size: functions.rem(14px);
    padding: functions.rem(6px) functions.rem(14px);
  }
  &--large {
    font-size: functions.rem(18px);
    padding: functions.rem(12px) functions.rem(20px);
  }

  &[disabled] {
    cursor: not-allowed;
  }

  @include mixins.media('max', 'md') {
    //box-shadow: none;
  }

  &--brand {
    background-color: var(--brand-color);
    &:hover {
      color: #fff;
    }
  }
  &--brand-dark {
    background-color: var(--brand-dark-color);
    &:hover {
      color: #fff;
    }
  }

  &--inline {
    display: inline-block;
  }
  &--text-center {
    justify-content: center;
  }
  &:active,
  &focus {
    border-color: var(--brand-color);
    outline: none;
    -webkit-box-shadow: 0 0 0 0.05rem var(--brand-color);
    box-shadow: 0 0 0 0.05rem var(--brand-color);
    outline: 1px solid var(--brand-color);
    opacity: 0.8;
  }
}
