@use "../abstracts/functions";

.page-404 {
  font-size: functions.rem(22px);
  line-height: functions.rem(28px);
  &__list {
    margin-top: functions.rem(45px);
    p {
      font-size: functions.rem(22px);
      line-height: functions.rem(28px);
    }
  }
  & img {
    height: auto;
  }
  &__banner {
    margin-top: functions.rem(120px);
  }
}
