mixin link(text='', href='javascript:void(0)')
  a(href=href)&attributes(attributes)= text
    if block
      block
    else

//- EXAMPLE
//- +link(name?, href?)(class="promo-index__link js-hover-btn hover-btn-animation")
