script(src='/assets/libs/js/MyUtils.js', defer)
script(src='/assets/libs/js/filepond.min.js', defer)
script(src='/assets/libs/js/filepond.poster.min.js', defer)
script(src='/assets/libs/js/fancybox.umd.js', defer)
script(src='/assets/libs/js/vanilla-tilt.babel.min.js', defer)
script(src='/assets/libs/js/splide.min.js', defer)
script(src='/assets/libs/js/lazyload.min.js', defer)

script(src='/src/scripts/script.js', type='module')
