link(rel="stylesheet" href="/assets/libs/css/normalize.css")
link(rel="stylesheet" href="/assets/libs/css/uikit.min.css")
link(rel="preload" as="style" onload="this.rel='stylesheet'" href="/assets/libs/css/filepond.min.css")
link(rel="stylesheet" href="/assets/libs/css/bootstrap-grid.min.css")
link(rel="preload" as="style" onload="this.rel='stylesheet'" href="/assets/libs/css/fancybox.css")
link(rel="preload" as="style" onload="this.rel='stylesheet'" href='/assets/libs/css/splide.min.css')

//- В build сборке этот путь будет заменён на /assets/style.css
link(rel="stylesheet" href="/src/styles/style.scss")
