doctype html
html(lang='ru')
  include ./head

  body.not-ready(itemscope="itemscope" itemtype="https://schema.org/WebPage")
    noscript
      strong
        | We're sorry but this project doesn't work properly without JavaScript enabled. Please enable it to continue.
    include ../components/service
    include ../components/main-loader
    .content
      include ../components/header

      block main-content

      include ../components/footer
    //-include ../_components/modals
