// -----------------------------------------------------------------------------
// This file contains animations.
// -----------------------------------------------------------------------------
@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateColor {
  0% {
    color: #ccc;
  }

  50% {
    color: tomato;
  }

  100% {
    color: #ccc;
  }
}

@keyframes changeBG {
  0% {
    background-image: url('/assets/img/good2_0.webp');
  }

  1% {
    background-image: url('/assets/img/good2_1.webp');
  }

  2% {
    background-image: url('/assets/img/good2_0.webp');
  }

  70% {
    background-image: url('/assets/img/good2_0.webp');
  }

  71% {
    background-image: url('/assets/img/good2_1.webp');
  }
  72% {
    background-image: url('/assets/img/good2_0.webp');
  }

  80% {
    background-image: url('/assets/img/good2_0.webp');
  }

  81% {
    background-image: url('/assets/img/good2_1.webp');
  }
  82% {
    background-image: url('/assets/img/good2_0.webp');
  }

  83% {
    background-image: url('/assets/img/good2_1.webp');
  }
  84% {
    background-image: url('/assets/img/good2_0.webp');
  }

  100% {
    background-image: url('/assets/img/good2_0.webp');
  }
}
